.add {
    background: transparent;
    border-radius: 1rem;
    height: 2rem;
    text-align: left;
    width: 100%;
}

.add-change {
    background: #87f016;
}

.btn-ingreso {
    background: #c29bf0;
    height: 100%;
    width: 10%;
}

.btnseleccion {
    background: #c29bf0;
    height: 2rem;
    margin-left: 1rem;
    margin: 0;
    padding: 0;
    width: 33%;
}

.ingreso {
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

.ingresobar {
    height: 100%;
    width: 90%;
}

.root {
    margin: 0;
    padding: 0;
    position: relative;
}

.seleccion {
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tarea {
    border-radius: 1rem;
    width: 100%;
}

.tareas {
    width: 100%;
}

.tasks {
    list-style-type: none;
    margin-top: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
}